:root {
    --white: #ffffff;
}
  
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nav-link {
 color: #9F2425 !important;
 font-weight: 700;
}

.jumbotron {
    width: 100%;
    background: #9F2425;
}

.title{
    /* width: 220vh; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 96px;
    color: #FFFFFF;
}

.title1 {
    width: 1021px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

.bulat {
    width: 326px;
    height: 294px;
    border-radius: 50%;
    display: inline-block;
    background-color: #ffffff;
}