@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');    

:root {
    --white: #ffffff;
}

* {
    font-family: 'Poppins', sans-serif;
}

.nav-link {
    color: #9F2425 !important;
    font-weight: 700;
}

.jumbotron {
    width: 100%;
    background: #9F2425;
}

.title {
    /* width: 220vh; */
    font-family: 'Poppins' !important;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    /* line-height: 96px; */
    color: #FFFFFF;
}

.title1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: -20px;
}

.butt {
    width: 224px;
    height: 71px;
    background: #FFFFFF;
    border-radius: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    text-align: center;
    color: #9F2425;
}

.butt:hover{
    background-color:coral;
    color: #FFFFFF;
}

.bulat {
    width: 326px;
    height: 294px;
    border-radius: 50%;
    display: inline-block;
    background-color: #ffffff;
}

.h-unit {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 72px;
    /* identical to box height */
    text-align: center;
    color: #9F2425;
}

.p-unit {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 42px;
    text-align: center;
    color: #000000;
}

/* batas */

  .card {
    width: 350px;
    background-color: #F5F5F5;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
  
  .judul {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    color: #CCCCCC;
  }

  .card-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #CCCCCC;
    margin-top: -10px;
  }

  .sewa_button {
    width: 80%;
    background: #9F2425;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
  }
  
  .container-services {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .container-services::-webkit-scrollbar {
    display: none;
  }
  
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 76px;
    height: 76px;
    margin-top: 20%;
    border-radius: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9F2425;
    border: 2px solid #ffffff;
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    width: 15px;
    height: 30px;
    opacity: 0.5;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }